<h1>Welcome to GA-Secrets</h1>

<table id="postTable" class="table">
  <thead>

  <div id="newStoryLink"><%= link_to "+ Add New Post", new_post_path %></div>
    <tr>
      <th class="postTableCss">Title</th>
      <th class="postTableCss">Content </th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %> -- </td>
        <td><%= post.content %> -- </td>
        <td><%= link_to "Read Story", post_path(post) %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
